table {
  width: 100%;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #9848bf;
  text-align: center;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #9848bf;
}

.table th {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #9848bf;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
.inputSearchStudent {
  height: 3rem;
  width: 20rem;
  border: 1px solid #9848bf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #9848bf;
  border-radius: 12px;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #9848bf;
}
.deleteStudentBtn {
  background-color: #c978d0;
  border: none;
  color: #f8ecf9;
  height: 2rem;
  width: 3.5rem;
  border-radius: 7px;
}
.deleteStudentBtn:hover {
  color: #d89ef6;
}
.listOfUser {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listOfUser h3 {
  color: #9848bf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.StudentListHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.optionAddParentAddStudent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

tr {
  border-top: 2px solid #9848bf;
}

h2 {
  color: #9848bf;
}
.teacherHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.7rem;
}
.deleteStudentPop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteStudentPop h5 {
  color: #9848bf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  color: #9848bf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
